html * {
  font-family: $primary-font;
  max-width: 100%;
}

body {
  overflow-x: hidden;
  padding: 20px 30px;
  background-color: $verde;
  max-width: 100%;

  h1,
  h2,
  h3 {
    font-family: $titles-font;
    color: $amarillo;
    text-shadow: 4px 4px 5px black;
    text-align: center;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 30px;

    @include breakpoint(tablet) {
      font-size: 90px;
    }

    @include breakpoint(desktop) {
      font-size: 120px;
    }
  }

  h2 {
    font-size: 40px;
    margin-bottom: 30px;
    background-color: rgba($marfil, 0.7);
    padding: 20px 40px;

    @include breakpoint(tablet) {
      font-size: 65px;
    }

    @include breakpoint(desktop) {
      font-size: 75px;
    }
  }

  h3 {
    font-size: 35px;
    margin-bottom: 30px;
    text-decoration: underline;

    @include breakpoint(tablet) {
      font-size: 45px;
    }

    @include breakpoint(desktop) {
      font-size: 55px;
    }
  }

  p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
    line-height: 1.5;
    padding: 5px 40px;
    font-weight: bold;

    a {
      @include enlace;
      text-shadow: 3px 3px 3px black;
    }

    @include breakpoint(tablet) {
      font-size: 40px;
      width: 90%;
    }

    @include breakpoint(desktop) {
      font-size: 50px;
      width: 80%;
    }
  }

  figure {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    img {
      max-width: 100%;
      width: 100%;
    }

    @include breakpoint(desktop) {
      img {
        width: 60%;
      }
    }
  }
}
