html * {
  font-family: $primary-font;
}

body {
  overflow-x: hidden;
  padding: 20px 30px;
  background-color: $verde;

  h1,
  h2,
  h3 {
    font-family: $titles-font;
    color: $amarillo;
    text-shadow: 4px 4px 5px black;
    text-align: center;
  }

  h1 {
    font-size: 90px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 65px;
    margin-bottom: 30px;
    background-color: rgba($marfil, 0.7);
    padding: 20px 40px;
  }

  h3 {
    font-size: 45px;
    margin-bottom: 30px;
    text-decoration: underline;
  }

  p {
    font-size: 40px;
    text-align: justify;
    margin-bottom: 30px;
    line-height: 1.5;
    padding: 5px 80px;
    font-weight: bold;

    a {
      @include enlace;
      text-shadow: 3px 3px 3px black;
    }
  }

  figure {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    img {
      max-width: 100%;
      width: 60%;
    }
  }
}
