$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fuentes
$primary-font: "Works Sans", "Times New Romas", "Arial";
$titles-font: "Fugaz One", "Times new roman", "Arial";

//Colores
$verde: #009b4d;
$amarillo: #ffcc00;
$marfil: #faf5e9;
