@mixin enlace {
  background-color: $amarillo;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 3px 3px 10px black;
  text-decoration: none;
  color: white;

  &:hover {
    background-color: black;
  }

  @include breakpoint(tablet) {
    font-size: 30px;
  }

  @include breakpoint(desktop) {
    font-size: 40px;
  }
}
