footer {
  border-top: 5px solid black;

  section {
    margin-top: 20px;

    p {
      text-align: center;
      line-height: 2;
      font-size: 20px;
    }

    a {
      @include enlace;
      text-shadow: 3px 3px 3px black;
      text-align: center;
    }
  }

  @include breakpoint(tablet) {
    section {
      display: flex;

      justify-content: center;
      p {
        font-size: 30px;
      }
    }
  }

  @include breakpoint(desktop) {
    section {
      display: flex;
      justify-content: center;
      p {
        font-size: 40px;
      }
    }
  }
}
