header {
  margin-bottom: 50px;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid black;
    padding-bottom: 40px;

    figure {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;

      img {
        max-width: 100%;
        width: 60%;
      }
      border-bottom: 5px solid black;
      padding-bottom: 20px;
    }

    nav {
      ul {
        display: flex;
        list-style-type: none;
        column-gap: 30px;
        row-gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        a,
        li {
          text-decoration: none;
          color: white;
          font-size: 20px;
          font-weight: bold;
          text-shadow: 3px 3px 3px black;
        }
        a {
          @include enlace;
        }
      }
    }

    @include breakpoint(tablet) {
      flex-direction: row;
      border-top: 5px solid black;
      align-items: center;
      justify-content: center;
      gap: 30px;

      figure {
        border: 0;
        width: 50%;
        margin: 0;
        padding: 0;

        img {
          width: 100%;
        }
      }
      nav {
        width: 60%;
        margin-top: 30px;

        ul {
          justify-content: end;
        }
      }
    }

    @include breakpoint(desktop) {
      border-top: 5px solid black;
      align-items: center;
      padding: 15px;

      figure {
        display: flex;
        justify-content: normal;
        border: 0;
        width: 40%;
        margin: 0;
        padding: 0;

        img {
          width: 100%;
        }
      }

      nav {
        width: 85%;
        margin: 0;
        display: flex;
        justify-content: end;

        ul {
          column-gap: 20px;
          row-gap: 40px;

          a,
          li {
            font-size: 40px;
          }
        }
      }
    }
  }
}
