header {
  margin-bottom: 50px;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid black;
    padding-bottom: 40px;

    figure {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;

      img {
        max-width: 100%;
        width: 60%;
      }
      border-bottom: 5px solid black;
      padding-bottom: 20px;
    }

    nav {
      ul {
        display: flex;
        list-style-type: none;
        column-gap: 30px;
        row-gap: 50px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        a,
        li {
          text-decoration: none;
          color: white;
          font-size: 25px;
          font-weight: bold;
          text-shadow: 3px 3px 3px black;
        }
        a {
          @include enlace;
        }
      }
    }
  }
}
